body {
    font-family: sans-serif;
    background: #fff;
    color: #fff;
    margin: 0;
}

.wrapper {
    background: #2E8B57;
}

.header {
    background: #2E8B57;
    padding: 1.5em;
}

.app-title {
    font-weight: 700;
    text-align: center;
    margin-top: 0;
}

.today {
    font-size: 1.9em;
    text-align: center;
}

.times-container {
    padding: 1.5em;
    background: #fff;
    border-radius: 1.2em;
    color: #000;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.prayer {
    padding: 1em 2em;
    background: #f9f9f9;
    border-radius: 0.5em;
}

.prayer .name {
    font-size: 1.5em;
    margin-right: 0.25em;
}

.prayer .time {
    font-size: 1.7em;
}